@inherits LayoutComponentBase

<div class="app-shell">
    <NavMenu />

    <div class="main-column">
        <main class="content-area">
            @Body
        </main>

        <footer class="footer">
            © 2026 Dingger
        </footer>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>