@page "/matches"
@inject CarService Garage

<div class="container">
    <h2 class="title-gradient">My Garage</h2>

    @if (!Garage.MatchedCars.Any())
    {
        <div class="empty-state">
            <p>Your garage is empty. Go swipe on some cars!</p>
            <NavLink href="/" class="btn-home">Start Swiping</NavLink>
        </div>
    }
    else
    {
        <div class="match-list">
            @foreach (var car in Garage.MatchedCars)
            {
                <div class="match-item">
                    <img src="@car.ImageUrl" alt="Car photo" />
                    <div class="match-info">
                        <h4>@car.Make @car.Model</h4>
                        <p>@car.Year</p>
                    </div>
                    <button class="btn-chat">Message Owner</button>
                </div>
            }
        </div>
    }
</div>